API_CONNECT_VERIFY_SOCKET_SSL=false
API_CONNECT_API_URL=https://api.satos-test.irs.uni-stuttgart.de
API_CONNECT_KEYCLOAK_CLIENT_ID=library
API_CONNECT_KEYCLOAK_REALM=satos-test
API_CONNECT_KEYCLOAK_URL=https://keycloak.satos-test.irs.uni-stuttgart.de
API_CONNECT_API_VERIFY_SSL=false
API_CONNECT_TIMEOUT=10

# Personal Operator Credentials, NEVER commit the actual .env file)
API_CONNECT_USERNAME=<insert_username>
API_CONNECT_PASSWORD=<insert_password>